<h1>
<b>
    Linkedin
Together with Capgemini Invent, the organization began the optimization of its private-label packaging to drive clean growth, satisfy new packaging laws and meet increasing consumer expectations
</b>
</h1>

<h4>
    Client Challenge: A European food retailer required a comprehensive sustainable packaging strategy for its privatelabel product assortment, as well as the corresponding organizational structures, clear processes and suitable tools in order to systematically improve the environmental friendliness of its private-label packaging
Solution: Capgemini Invent worked hand in hand with the organization to define its vision and strategic orientation before adapting its operating model and processes to pursue clearly established sustainable packaging targets. In the year following the project start, more than 200 tons in plastic savings per year were realized
Results:
• Packaging optimization of 25% of private-label artigjgcles, equal to 50% of the annual quantity
• Strategic organization and toolkit for the future
• Improved transparency and understanding of packaging KPIs
</h4>

<h5>
    Packaging sustainability is no longer a niche concern, but has become a major matter of debate on the global stage and a decisive issue within media, society and legislation. Increased media coverage has heightened consumer sensitivity to sustainability issues, leading to nprecedented scrutiny regarding the impact of the consumer goods industry on the environment. Consumers are also increasingly motivated to be more environmentally conscious and are demonstrating their concerns through shifts in their shopping habits. To address these concerns, as well as answer to stricter legislative requirements, retailers and consumer product manufacturers are taking meaningful action to optimize their product assortment.
In 2018, one of these companies, a leading European food retailer, had already launched several lighthouse initiatives focusing on sustainable packaging for its private label products. Yet without any measurable goals, KPIs, processes or tools in place to coordinate the various projects, it became clear that the organization required a more strategic approach to effectively orchestrate change. Building
on a track record of successful projects and a long-standing working relationship, Capgemini Invent was selected as a transformation partner to facilitate the transition period to sustainable packaging.
</h5>


<h2>
   
    

</h2>
<h4>*EMI Calculator*   hguggug&nbsp;   </h4>
<h3>

</h3>