<div style="display:block;text-align:left">
    <h2><span style="color:rgb(7,55,99)">Hello</span></h2>
    <hr>
    <br>
    <div style="display:block;text-align:left"><a href="https://www.google.com" imageanchor="1"><img align="left" src="https://images.pexels.com/photos/2387418/pexels-photo-2387418.jpeg?cs=srgb&dl=pexels-ezra-comeau-2387418.jpg&fm=jpg" border="0" height="500px" width="800px"></a>- Name : Suraj Patil<br>
    - Major<br>
    - Email<br>
    - Lattest</div>
    </div>
    <br>
    <br>

    
